body {
    font-family: 'Almarai', sans-serif;
    background-color: yellow;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main h1 {
    color: black;
    font-size: 10vw;
}